* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(8,50,7);
    background: linear-gradient(90deg, rgba(8,50,7,1) 33%, rgba(9,121,13,1) 79%);
 
    color: #333;
    padding: 20px;

}
header{
    display: flex;
    width: 1800px;
    margin-left: -20px;
    height: 100px;
    background-color: #2f7a2a;
    color: aliceblue;
    align-items: center;
  
    margin-top:-21px ;
    justify-content: space-between;
    
}
.vivimg{
    width: 90px;
    margin-left: 100px;
    cursor: pointer;
    border-radius: 10px;
}
.vivimg:hover{
     
    transition: transform 0.3s ease; /* Adiciona uma animação suave */
    border: solid 2px white;

}

header h1{
    margin-left: -160px;
}

    

.ulh{
    display: flex;
    
 
 
}
a{
    font-size: 20px;
    margin-left: -200px;
    color: aliceblue;
    text-decoration: none;
   
    
}
a:hover{
    border: solid 2px white;
    transform: translateX(0.3em); /* Move suavemente para a direita ao passar o mouse */
    transition: transform 0.3s ease; /* Adiciona uma animação suave */
}

#back{
   margin-left: 50px;
   margin-top: 50px;
}
#back h1{
   font-weight: bolder; 
  margin-bottom: 20px;
  font-size: 35px;
  color: #fffafa;
 
}
.tabela{
    background-color: #6e6868;
    width: 810px;
    height: 406px;
    display: flex;
}
.fazer{
    width: 270px;
    display: flex;
    flex-direction: column;
    border: solid 3px rgb(0, 0, 0);
}
.ulfz{
    background-color: #13E660;
    border: solid 1px rgb(0, 0, 0);
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.fz{
    margin-left: 20px;
    list-style-type: none;
    font-size: 20px;
    font-weight: bolder;
}
.btadd{
    background-color: #000000;
    margin-left: 120px;
    margin-top: 15px;
    height: 30px;
    border: solid 1px rgb(107, 102, 102);
    border-radius: 4px;
}
.inp{
    width: 234px;
    height: 49px;
    border: solid 2px rgb(0, 0, 0);
    background-color: #13E660;
}


.inpi {
    width: 264px;
    height: 49px;
    border: solid 2px rgb(0, 0, 0);
    background-color: #13E660;
}
.ulfz2{
    font-size: 18px;
    border: solid 2px rgb(0, 0, 0);
    background-color: #13E660;
    width: 234px;
    height: 40px;
    list-style-type: none;
}
.inpbt{
    width: 200px ;
    background-color: #13E660;
}

.brfz{
   background-color: red; 
   
   margin-top: 8px;
}

/* Andamento*/

.estoque{
    width: 270px;
    display: flex;
    flex-direction: column;
    border: solid 3px rgb(0, 0, 0);
}
.ulst{
    background-color: #13E660;
    border: solid 1px rgb(0, 0, 0);
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.st{
    margin-left: 20px;
    list-style-type: none;
    font-size: 20px;
    font-weight: bolder;
}

.btadds{
    background-color: #000000;
    margin-left: 120px;
    margin-top: 15px;
    height: 30px;
    border: solid 1px rgb(107, 102, 102);
    border-radius: 4px;
}

.inpis {
    width: 265px;
    height: 49px;
    border: solid 2px rgb(0, 0, 0);
    background-color: #13E660;
}
.ulfz2{
    font-size: 18px;
    border: solid 2px rgb(0, 0, 0);
    background-color: #13E660;
    width: 264px;
    height: 40px;
    list-style-type: none;
}


.brfz{
   background-color: red; 
   
   margin-top: 8px;
}
/* concluido*/
.concluido{
    width: 270px;
    display: flex;
    flex-direction: column;
    border: solid 3px rgb(0, 0, 0);
}
.ulcd{
    background-color: #13E660;
    border: solid 1px rgb(0, 0, 0);
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cd{
    margin-left: 20px;
    list-style-type: none;
    font-size: 20px;
    font-weight: bolder;
}
.btaddcd{
    background-color: #000000;
    margin-left: 120px;
    margin-top: 15px;
    height: 30px;
    border: solid 1px rgb(107, 102, 102);
    border-radius: 4px;
}
.inpicd {
    width: 265px;
    height: 49px;
    border: solid 2px rgb(0, 0, 0);
    background-color: #13E660;
}

.ulfcd{
    font-size: 18px;
    border: solid 2px rgb(0, 0, 0);
    background-color: #13E660;
    width: 264px;
    height: 40px;
    list-style-type: none;
}

.brcd{
   background-color: red; 
   
   margin-top: 8px;
}
.dvd{
    background-color: #050505;
    margin-left: 300px;
    width: 200px;
    color: #ffffff;
    height: 30px;
    border: solid 1px rgb(107, 102, 102);
    border-radius: 4px;
}

/*sobreback*/


.sobreback{
    background-color: #d1cdcd;
    width: 478px;
    height: 406px;
    display: flex;
    margin-left: 900px;
    margin-top: -435px;
    border-radius: 40px;
    visibility: hidden;
 
}
.sobreback h1{
   margin-left:100px;
   position: relative;

    margin-top: 20px;

}
.sobreback h3{
    font-size: 15px;
    margin-top: 20px;

}
.backld{
    margin-top: 70px;
    margin-left: -320px;
}


/*checklis1*/

#checklist {
    width: 900px;
   margin-left: 100px;
    margin-top: 140px;
    padding: 20px;
    
   background-color: #d1cdcd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#checklist h1 {
    text-align: center;
    color: #333;
}

.ulchek {
    list-style: none;
    padding: 0;
  
}

.lich1 {
    padding: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.imgch{
    margin-left: 1100px;
    margin-top: -440px;

}
.imgck{
    width: 500px;
   border-radius: 400px;
   
}

/*GERENCIAMENTO*/

/*checklis*/

.checklistam {
    margin-top: 200px;
    width: 800p;
   
  
    padding: 20px;
    background-color: #d1cdcd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chekh1 {
    text-align: center;
    color: #333;
}

.chekk {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.tp1 {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tp1 h2 {
    font-size: 23px;
    color: #333;
    
}
#checklist1{
    list-style: none;
   
}
#checklist1 li{
    padding: 7PX;
}

#checklist2 {
    list-style: none;
    padding: 0;
}

.lii2 {
    padding: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.inp2ch {
    margin-right: 10px;
}



