#teto {
    width: 1250px;
    height: 600px;
    display: grid;
    grid-template-columns: 2.5fr 2.5fr;
}

.informacao  h1 {
    font-size: 2.2rem;
}

.informacao  p {
    width: 500px;
    height: 30px;
    font-size: 0.90rem;
}

.informacao img {
    box-shadow: 5px 5px black;
}

#coluna1modelo {
    width: 500px;
    margin-top: 100px;
}

#coluna2modelo {
    width: 500px;
    margin-top: 105px;
}

#imagePlanejamento {
    margin-top: 10px;
}